
/* Gallery */


.gallery img{
  margin:45px; /* внешние отступы картинок */
  border:3px solid #fff; /* рамка картинок */
 }
 a.photo:hover img{
  border:3px solid #034F80; /* изменение цвета рамки при наведении на картинку */
 }

 
 @media screen and (max-width: 500px) {
  header .menu_top a {
    float: none;
    display: block;
    text-align: left;
  }
  ul {
    float: none;
  }
}
 